doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="https://use.fontawesome.com/253488afed.js")
    script(src="https://kit.fontawesome.com/5424c78a9d.js" crossorigin="anonymous")
  body
    block content
