extends layout

block content
    link(href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="/javascripts/jquery.card.js")
    .block-section.block.bg-gray.w-100
        .html-header
          .html-header-topside
              .topside-left
                span.lang_change
              .topside-brand-logo
                img(src="./../images/logo.png" alt="" class="logo")
              .topside-right
                span.topside-span support@e-giftCard.org
          .html-header-backside
            ul.ul-nav.header-backsite-ul
              li.ul-nav-li
                a(href="/#buy" class="li-item") Покупка E-GIFTCARD
              li.ul-nav-li
                a(href="/#get" class="li-item") Получить деньги
              li.ul-nav-li
                a(href="/#faq" class="li-item") Как работает
    .info-block
      p Номер операции: 00063309
      p Сумма платежа: #{value},00 $
      p Продавец: ООО "e-giftCard"
      p Введите данные для оплаты и нажмите "Продолжить", после чего вы будете переведены на страницу подтверждения платежа.
    .payment-block
      .card-wrapper
      form#payment
        input(type="text" name="number" placeholder='**** **** **** ****')
        input(type="text" name="name" placeholder='ФАМИЛИЯ ИМЯ')
        input(type="text" name="expiry" placeholder='xx / xxxx')
        input(type="text" name="cvc" placeholder='CVC')
        button(type='submit')
          span.material-icons lock
          div Оплатить
      img(src='/images/vbf.png').vbv-image
    script(src='/javascripts/payment.js')
    script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
