@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto","sans-serif";
}

:root {
  --main-color: #5CDB95;
}

.fa-times:hover {
  cursor: pointer;
}
.bg-gray{
  background-color: #f2f2f2;
}
.html-header {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  max-width: 1230px;
  margin: 0 auto;
}
.html-header-topside {
  display: flex;
  padding: 0 10px;
}
.part {
  width: 100%;
}
.topside-brand-logo{
  margin: 0 auto;
  width: 390px;
  display: flex;
  justify-content: center;
}
.topside-left {
  width: 390px;
  font-size: 16px;
  margin: auto 0;
}

.topside-right {
  font-size: 14px;
  width:390px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topside-span {
  margin: auto 0;
}

.logo {
  width: 200px;
}

.html-header-backside {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 45px auto 30px auto;
}

.ul-nav {
  list-style: none;
  display: flex;
}

.ul-nav-li {
  margin-right: 30px;
}
.ul-nav-li:last-child {
  margin: 0;
}
.li-item {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4c4c4c;
  font-weight: 700;
  font-family: "Roboto";
}

.li-item:hover {
  color: var(--main-color);
}
.animated-wrap {
  padding-top: 150px;
  display: flex;
  padding-bottom: 240px;
  width: 80%;
  margin: 0 auto;
}
.div-animated {
  position: relative;
  display: flex;
}

.text-main {
  color: var(--main-color);
  font-weight: 700;
  font-style: normal;
}

.text-small {
  font-size: 16px;
}

.img-part{
  max-width: 50%;
  margin-top: -300px;
  margin-bottom: -240px;
  display: flex;
  align-items: center;
  position: relative;
}

.img-part > img {
  width: 100%;
  object-fit: contain;
  object-position: 20.29% 50%;
}

.animated-part {
  padding: 0 40px;
  display: flex;
  margin-left: 5px;
}

.content {
  display: flex;
  width: 100%;
}

.btn_col {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

.contetn_left {
  width: 50%;
}
.content_right {
  padding-top: 15px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.animation-wrap {
  width: 80%;
  min-width: 400px;
}

.text-extra {
  font-size: 88px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0;
}

.hidden {
  display: none;
}

.animation {
  padding-right: 15px;
  border-right: 5px solid var(--main-color);
}

.span-line {
  margin:25px 0 30px 0;;
}

.text {
  font-size: 18px;
  color: #333;
}

.btn {
  padding: 13px 20px;
  text-transform: uppercase;
  border-radius: 34px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  width: 250px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_os {
  width: 400px;
  height: 80px;
  font-size: 23px;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: all 0.5s ease 0s;
}

.btn:focus {
  outline: none;
}

.btn-outline-black {
  border: 2px solid black;
}

.btn-big {
  height: 70px;
}
.btn-main {
  background-color: var(--main-color);
  color: white;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-20 {
  margin-right: 20px;
}

.set1 {
  margin-top:-150px;
  display: flex;
}

.main-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.header-main {
  width:100%;
  font-size: 32px;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--main-color);
  margin-bottom: 50px;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.ul-flex-row {
  display: flex;
  width: 100%;
  list-style: none;
  padding:10px;
}

.ul-nav-li {
  padding: 10px;
  cursor: pointer;
  color: #4c4c4c;
  font-size: 19px;
  font-weight: 700;
}

.active {
  border-bottom: 2px solid var(--main-color);
  font-weight: 700;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.59);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.59);
  box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.59);
  padding: 40px 30px;
  border-radius: 20px;
}

.card-tall {
  width: 30%;
  margin-right: 20px;
  min-width: 250px;
  margin-bottom: 20px;
}

.card-top {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.small-logo {
  font-size: 45px !important;
  color: var(--main-color);
}

.logo_wrapper {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 30px;
  /* background: var(--main-color); */
}

.span-column {
  display: flex;
  flex-direction: column;
}

.text-normal {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
}

.ul-column {
  list-style: none;
  margin-bottom: 70px;
}

.li-text {
  margin-bottom: 15px;
}

.checks {
  margin-right: 7px;
  border: 1px solid var(--main-color);
  padding: 4px;
  border-radius: 34px;
  color: var(--main-color);
  font-size: 10px;
}
.set2 {
  margin-bottom: -5px;
}
.row-wrap {
  display: flex;
}

.consult {
  width: 90%;
  margin: 0 auto;
}

.bg-main {
  background-color: var(--main-color);

}
.content-part {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.text-div {
  width: 60%;
}

.text-div-header {
  font-size: 36px;
  margin-bottom: 25px;
}

.button-wrap {
  display: flex;
  width:40%;
  justify-content: flex-end;
  align-items: center;
}

.text-div-span {
  font-size: 18px;
}

.bg-semi {
  background-color: #222222;
}

.text-light {
  color:white;
}

.img-big {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-big-cover {
  object-fit: contain;
object-position: 50% 50%;
width: 250px;
}

.content-wrap {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
}
.content-wrap_left {
  width: 50%;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: 70px;
}
.btn-small {
  width:100px;
}

.flex-row {
  display: flex;
  align-items: center;
}

.ml-20 {
  margin-left: 20px;
}

.text-header {
  font-size: 48px;
}

.card-wide {
  width: 30.3333%;
  height: 300px;
  margin: 10px 15px;
  min-width: 265px;
}

.card-header {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.ml-12{
  margin-left:12px;
}

.logo-wrap {
  margin-bottom: -20px;
  width: 90px;
  height: 90px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
}

.sub-logo {
  font-size: 43px;
}

.w-80 {
  width: 60%;
  margin: 0 auto;
}


.mb {
  margin-bottom: -10px;
}

.questions_wrap_col1 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 48%;
  /* flex-wrap: wrap; */
}

.questions_wrap_col2 {
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 10px;
  /* flex-wrap: wrap; */
}

.question {
  width: 100%;
  border-bottom: 1px solid #cbcbcb;
  margin: 10px;
}

#fillform {
  text-decoration: none;
  color: black;
  background: white;
  text-align: center;
  transition: .3s;
}
#fillform:hover {
  text-decoration: none;
  color: white;
  background: black;
  transition: .3s;
}
.obnal {
  text-decoration: none;
  color: black;
  transition: .3s;
}

.question_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  color: #222;
}

.question_header {
  font-size: 20px;
  font-weight: 700;
  min-width: 100%;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
}

.question_header::after {
  content: "+";
  font-size: 20px;
  font-weight: normal;
  margin: auto 0 auto auto;
  transition: all .35s;
}

.shown {
  max-height: 100vh;
}

.shown::after {
  transform: rotate(315deg);
}


.ul_list_1 {
  list-style: circle;
  padding-left: 20px;
  margin-top: 10px;

}

.text_link {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 700;
}

.faq_wrap {
  display: flex;
}

.background_wrap {
  /* background: url("./../images/wide-pic.png") no-repeat center; */
  padding-top: 50px;
  padding-bottom: 100px;
}

.card_wrap {
  width: 30%;
  margin: 0 auto;
}

.form-card {
  height: 700px;
  min-width: 315px;
}

.header {
  font-size: 50px;
  display: flex;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  flex-wrap: wrap;

}

.text-center {
  text-align: center;
}

.form-text {
  font-size: 18px;
  margin-bottom: 10px;
}


.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-form {
  padding: 12px 24px;
  margin: 10px 0;
  border-radius: 20px;
  outline: none;
  border: 1px solid #cbcbcb;
}

#input1 {
  width: 100%;
  border: 0;
  background: white;
  outline: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input4 {
  margin-right: 10px;
}

.btn-form {
  width: 80%;
  margin: 40px auto 0 auto;
}

.wallet {
  margin-right: 10px;
}

.footer_back {
  margin-top: -10px;
}

.footer_wrap {
  width: 70%;
  margin: 0 auto;
  padding: 70px 0;
}


.logo_footer {
  width: 200px;
}

.center, .left, .right {
  width: 32%;
  color: white;
  font-size: 18px;

}
.semi-header {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
}


.second_footer {
  margin-top: 50px;
}

.right {
  margin-left: auto;
}


.sandwich_header_wrap, .sandwich_menu_wrap {
  width: 100%;
  display: none;
  transition-delay: .3s;
}

.sandwich_header {
  display: flex;
  align-items:center;
  width: 90%;
  margin: 40px auto 0 auto;
}

.brand_logo {
  margin-right: auto;
}

.brand_logo img {
  width: 50%;
}

.btn_hum {
  font-size: 30px !important;
  cursor: pointer;
}

.sandwich_menu {
  width: 300px;
  margin: 0 auto;
}

.ul_sandwich {
  list-style: none;
  text-align: center;
  margin-top: 50px;
}

.ul-nav-li-sandwich {
  margin-bottom: 20px;
}

.sandwich-item {
  font-size: 18px;

}

.d-none {
  display: none !important;
}

@media (max-width: 990px) {
  .html-header {
    display: none;
  }
  .sandwich_header_wrap {
    display: block;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .content {
    flex-direction: column;
  }
  .content_right {
    width: 100%;
    padding-left: 0;
    padding-top: 50px;
  }
  .animation-wrap {
    margin: 0 auto;
  }
  .ul-flex-row {
    justify-content: center;
  }
  .row-wrap {
    flex-direction: column;
    align-items: center;
  }
  .button-wrap {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  }
  .text-div {
    width: 100%;
  }
  .text-div-span, .text-div-header {
    display: flex;
    text-align: center;
  }
  .content-wrap_left {
    width: 100%;
  }
  .w-80 {
    width: 90%;
  }
  .card_wrap {
    width: 60%;
  }
  .right {
    margin: 30px 0 0 0 !important;
  }
  .semi-header {
    display: flex;
    justify-content: center;
        text-align: center;
  }
  .row-wrap {
    flex-direction: column !important;
    align-items: center;
    text-align: center;
  }
  .footer_wrap {
    width: 90% !important;
  }
  .center, .left, .right {
    width: 100% !important;
  }
}

@media (max-width: 550px) {
  .text-extra {
    font-size: 50px;
  }
  .animation-wrap {
    min-width: 315px;
  }
  .btn_os {
    width: 100%;
    font-size: 20px;
  }
  .faq_wrap {
    flex-direction: column;
    align-items: center;
  }
  .set48102 {
    margin-top: -5px;
  }
  .questions_wrap_col1, .questions_wrap_col2 {
    width: 100%;
  }
}

@media (max-width: 440px) {
  .animated-part {
    margin: 0;
    padding: 0;
  }
  .animated-wrap {
    width: 97%;
    padding-top: 100px;
    padding-bottom: 180px;
  }
  .card_wrap {
    width: 97%;
  }
}
