@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto","sans-serif";
}

:root {
  --main-color: #5CDB95;
}

.bg-gray{
  background-color: #f2f2f2;
}
.html-header {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  max-width: 1230px;
  margin: 0 auto;
}
.html-header-topside {
  display: flex;
  padding: 0 10px;
}
.part {
  width: 100%;
}
.topside-brand-logo{
  margin: 0 auto;
  width: 390px;
  display: flex;
  justify-content: center;
}
.topside-left {
  width: 390px;
  font-size: 16px;
  margin: auto 0;
}

.topside-right {
  font-size: 14px;
  width: 390px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topside-span {
  margin: auto 0;
}

.logo {
  width: 200px;
}

.html-header-backside {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 45px auto 30px auto;
}

.ul-nav {
  list-style: none;
  display: flex;
}

.ul-nav-li {
  margin-right: 30px;
}
.ul-nav-li:last-child {
  margin: 0;
}
.li-item {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #4c4c4c;
  font-weight: 700;
  font-family: "Roboto";
}

.li-item:hover {
  color: var(--main-color);
}

.main_content_wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
}

.info-block_wrapper {
  width: 50%;
  padding: 20px;
  height: 100%;
}

.payment-block {
  width: 50%;
  padding: 20px;
}

.form_wrapper {
  max-width: 350px;
  margin: 40px auto 0 auto;
}

#payment {
  display: flex;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cbcbcb;
  border-radius: .35em;
}

.form_input {
  padding: 10px 20px;
  border-radius: .35em;
  border: 1px solid #cbcbcb;
  outline: none;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.form_label {
  margin-bottom: 15px;
  font-size: 14px;
}

.form_block {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding: 8px 12px;
  border-radius: .35em;
  border: 1px solid transparent;
  background: white;
  outline: none;
  cursor: pointer;
  transition: all .35s;
}

.btn_main {
  background: var(--main-color);
  color: white;
  font-weight: 700;
}

.form_btn {
  width: 80%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.g {
  font-size: 45px;
  margin-right: 5px;
}

.btn:hover {
  background: black;
  color: white;
}

.vbv_image {
  width: 80%;
  margin-top: 30px;
}

.info_block {
  width: 80%;
  border: 1px solid #cbcbcb;
  padding: 40px;
  height: 60%;
  border-radius: .35em;
  margin: auto 0 auto auto;
}

.p_stack p {
  margin-bottom: 80px;
}

.p_stack {
  width: 90%;
  margin: 0 auto;
}

.text_silence{
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
}

.img_wrapper {
  width: 70%;
  margin-top: 50px;
  margin-left: auto;
}

.services {
  width: 100%;
}


.sandwich_header_wrap, .sandwich_menu_wrap {
  width: 100%;
  display: none;
}

.sandwich_header {
  display: flex;
  align-items:center;
  width: 90%;
  margin: 40px auto 0 auto;
}

.brand_logo {
  margin-right: auto;
}

.brand_logo img {
  width: 50%;
}

.btn_hum {
  font-size: 30px !important;
  cursor: pointer;
}

.sandwich_menu {
  width: 300px;
  margin: 0 auto;
}

.ul_sandwich {
  list-style: none;
  text-align: center;
  margin-top: 50px;
}

.ul-nav-li-sandwich {
  margin-bottom: 20px;
}

.sandwich-item {
  font-size: 18px;

}

.d-none {
  display: none !important;
}

@media (max-width: 900px) {
  .main_content_wrapper {
    width: 100%;
  }
  .info-block_wrapper {
    width: 40%;
  }
  .info_block {
    width: 100%;
    margin: 0;
  }
  #header {
    display: none;
  }
  .sandwich_header_wrap {
    display: block !important;
  }
  .img_wrapper {
    width: 100%;
  }
  .text_silence {
    margin-bottom: 42px !important;
  }
  .payment-block {
    width: 80%;
  }
}


@media (max-width: 630px) {
  .main_content_wrapper {
    flex-direction: column;
  }
  .info-block_wrapper {
    width: 80%;
    margin: 0 auto;
  }
  .payment-block {
    width: 80%;
    margin: 0 auto;
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
  }
  .info_block {
    padding: 40px 20px;
  }
}

@media (max-width: 450px) {
  .payment-block {
    width: 90%;
    margin: 0 auto;
  }
}
